* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body img {
  cursor: pointer;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.portfolio {
  width: 100%;
  height: 100vh;
  background-image: url('/asign/images/main_background-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  padding: 0 12px;
}
header {
  align-items: center;
  padding: 20px 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.header_logo {
  width: 40px;
  height: 40px;
}
.container .header_nav {
  align-items: center;
  display: flex;
}
.header_nav_ul {
  gap: 30px;
  display: flex;
  text-decoration: none;
  list-style: none;
  padding: 30px 30px;
}
.header_nav_li a {
  gap: 30px;
  color: #fff;
  text-decoration: none;
}
.header_nav_button {
  font-weight: bold;
  width: 130px;
  height: 35px;
  border-radius: 20px;
}
.main-info {
  width: 100%;
}
.main-info_nav_image {
  margin-top: -20px;
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  border-radius: 12px;
}
.main-info_nav {
  padding: 0px 100px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main-info_nav_h1 {
  font-weight: bold;
  font-size: 40px;
}
.main-info_nav_p {
  color: gray;
}
.main-info_social-media {
  display: flex;
  gap: 20px;
  width: 50px;
  height: 50px;
  background-color: C4C4C4;
  align-items: center;
}
.main-info-social-medias {
  width: 30px;
  height: 30px;
}
.main-info_social-media_button {
  font-weight: bold;
  border-radius: 5px;
  filter: drop-shadow(0 0 0.9rem rgb(201, 199, 199));
  margin-top: 150px;
  align-items: center;
  padding: 3px 5px;
  background-color: rgba(182, 180, 180, 0.871);
  border: none;
}
